adagio==0.2.6
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
appdirs==1.4.4
attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
cloudpickle==3.1.1
colorlover==0.3.0
contourpy==1.3.2
coreforecast==0.0.16
cufflinks==0.17.3
cycler==0.12.1
darts==0.36.0
filelock==3.18.0
fonttools==4.58.5
frozenlist==1.7.0
fs==2.4.16
fsspec==2025.5.1
fugue==0.9.1
holidays==0.75
huggingface-hub==0.24.0
idna==3.10
ipywidgets==8.1.7
Jinja2==3.1.6
joblib==1.5.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lightgbm==4.6.0
lightning-utilities==0.14.3
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.3
momentfm==0.1.4
mpmath==1.3.0
multidict==6.6.3
narwhals==1.45.0
networkx==3.5
nfoursid==1.0.1
numba==0.61.2
numpy==1.25.2
pandas==2.3.0
patsy==1.0.1
pillow==11.3.0
plotly==6.2.0
propcache==0.3.2
protobuf==6.31.1
pyarrow==20.0.0
pyod==2.0.5
pyparsing==3.2.3
pytorch-lightning==2.5.2
pytorch-triton==3.3.1
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
shap==0.48.0
slicer==0.0.8
statsforecast==2.0.2
statsmodels==0.14.4
sympy==1.14.0
tensorboardX==2.6.4
threadpoolctl==3.6.0
tokenizers==0.13.3
torchmetrics==1.7.4
tqdm==4.67.1
transformers==4.33.3
triad==0.9.8
triton==3.1.0
tzdata==2025.2
urllib3==2.5.0
utilsforecast==0.2.12
widgetsnbextension==4.0.14
xarray==2025.7.0
xgboost==3.0.2
yarl==1.20.1
